.body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    padding-right: 20px;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.leftdiv{
    width: 40%;
    height: 100vh;
    padding-top: 10vh;
    text-align: left;
    padding-left: 5vw;
    box-sizing: border-box;
    margin: auto;
}

.heading {
    font-size: 5rem;
    color: green;
    font-family: "Single Day", cursive;
    margin: auto auto;
    font-size: 50px;
}

.subheading {
    font-size: 3rem;
    color: white;
    text-align: left;
    margin-top: 4vh;
    font-weight: 500;
}

.rightdiv {
    width: 60%;
    height: 100vh;
    max-width: 60%;
    max-height: 100vh;
    padding-left: 6vh;
    display: grid;
    margin: 30px;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
    height: calc(100vh - 110px);
}

.signup {
    color: white;
    background: green;
    border-radius: 12px;
    position: absolute;
    bottom: 2vh;
    right: 3vw;
    border: none;
    padding: 12px;
    cursor: pointer;
}

.signup:hover{
    color: rgba(255, 255, 255, 0.747);
    background: rgb(4, 161, 4);
}

.error {
    color: red;
    font-size: 12px;
}