
.body{
    width: 31vw;
    height: 22vh;
    background-color: #101744;
    border-radius: 12px;
    margin: auto;
    margin-top: 20px;
}

.data{
    background: #FF4ADE;
    border-radius: 12px 12px 0 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    height: 2.3rem;
}

.weather{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
}

.img{
    width: 80px;
    height: 80px;
}
.p{
    font-size: 28px;
}

.p1{
    font-size: 1rem;
}

.line{
    width: 50px;
    height: 2px;
    background-color: gray;
    border-radius: 2px;
    transform: rotate(90deg);
}

.block1{
    height: 15vh;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.block2{
    height: 15vh;
    margin-bottom: 0;
    margin-top: 0px ;
    line-height: 1px;
}

.block3{
    height: 15vh;
    margin-bottom: 15px;
    margin-top: 10px ;
    line-height: 5px;
}